.backgroundImage {
    position: relative;
}

.backgroundImage::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(/public/note_image.jpg);
    background-size: cover;
    background-repeat: none;
    filter: blur(5px);
    z-index: -1;
}